/* fundo da web */
body{
    background-image: url(../img/sapo_triste-removebg-preview.png);
    background-size: 10%;
    background-color: var(--cor-do-fundo);
    box-sizing: border-box;
}

/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* variaveis */

:root{
    /* cores */
    --cor-azulesverdiado:#8B9A46;
    --cor-dos-links: #541212;
    --cor-do-fundo: #0F0E0E;
    --cor-texto:#EEEEEE;

    /* fontes */
    --fonte-principal:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

/* foto */

.foto{
    height: 500px;
    width: 350px;
}

/* parte do texto com a imagem */

.apresentacao { 
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cortexto{
    color: white;
}

.texto {
    width: 700px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--cor-texto);
}

.texto_titulo {
    font-size: 30px;
    font-family: var(--fonte-principal);
}

.texto_introdutorio{
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}

/* botoes */

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.links { 
    display: flex;
    width: 230px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    padding: 21px 0px;
    color: wheat;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 600;
    border: 3px solid var(--cor-azulesverdiado);
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.links:hover{
    background-color: var(--cor-dos-links);
}

/* Rodapé */

.rodape {
    display: flex;
    justify-content: center;
    background-color:var(--cor-azulesverdiado);
    padding: 24px;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

/* cabaçalho */

.cabecalho {
    display: flex;
    gap: 80px;
    padding: 4% 0 0 15%;
}
.menu {
    color: var(--cor-azulesverdiado);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}
